.brands {

}

.brands__container {
  max-width: 1170px;
  min-width: 991px;
  margin: 36px auto;
  display: grid;
  grid-template-columns: minmax(300px, 512px) 512px;
  grid-template-rows: 760px;
  justify-content: space-between;
  overflow: hidden;

  @media all and (max-width: 1300px) {
    justify-content: space-around;
  }
  @media all and (max-width: 1030px) {
    justify-content: space-between;
  }



}

.brands__description {
  font-family: Open Sans;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;

  @media all and (max-width: 1050px) {
    padding-left: 30px;
  }
}

.brands__title {
  font-size: 50px;
  letter-spacing: 0.5px;
  color: #333333;
  margin: 252px 0 23px 0;
}

.brands__sub-title {
  font-size: 25px;
  line-height: 1.36;
  letter-spacing: 0.3px;
  color: #333333;
  margin-top: 0;
}

.brands__sub-title_blue {
  color: #8d83f9;
}

.brands__text {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: 0.2px;
  text-align: left;
  color: #888888;
}

.brands__iphone {

}