.bunner {
  height: 1052px;
  background: url("../img/bunner/Shape_9.png"),
    url("../img/bunner/Pattern2.png"),
    url("../img/bunner/Layer_12.png") no-repeat;
  background-blend-mode: multiply;
  background-position: 0 0, 0 0, 0 58px;
  overflow: hidden;
  position: relative;

  @media all and (max-width: 1400px) {
    background-position: 0 0, 0 0, -100px 58px;
  }
  @media all and (max-width: 1200px) {
    background-position: 0 0, 0 0, -200px 58px;
  }
  @media all and (max-width: 991px) {
    background-position: 0 0, 0 0, -300px 58px;
  }
}

.bunner__header {
  box-sizing: border-box;
  padding: 80px 218px 0 214px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}

.bunner__pattern {
  position: absolute;
  top: 0;
  left: 0;
}

.bunner__logo {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  text-transform: capitalize;
  margin-top: -5px;
}

.bunner__link {
  text-decoration: none;
  color: #ffffff;
}

.bunner__buttons {
  justify-self: end;
}

.bunner__content {
  width: 520px;
  margin-top: 188px;
  margin-left: 871px;

  @media all and (max-width: 1400px) {
    margin-left: 750px;
    margin-top: 120px;
  }
  @media all and (max-width: 1200px) {
    margin-left: 600px;
  }
  @media all and (max-width: 991px) {
    margin-left: 520px;
  }
}

.bunner__title {
  font-family: Roboto;
  font-size: 115px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.04;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-bottom: 11px;

  @media all and (max-width: 1400px) {
    font-size: 90px;
  }
  @media all and (max-width: 1050px) {
    font-size: 80px;
  }
}

.bunner__text {
  width: 193px;
  height: 36px;
  font-family: Roboto;
  font-size: 50px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: normal;
  text-align: left;
  color: #fcfcfc;
  text-transform: uppercase;
  margin-top: 0;
}