.button {
  height: 60px;
  box-shadow: -1.3px 4.8px 23.8px 1.3px rgba(156, 159, 159, 0.75);
  background-color: #ffffff;
  border-radius: 30px;
}

.button_complex {
  height: 65px;
  width: 371px;
  border-radius: 33px;
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
}

.button_details {
  width: 202px;
  margin-top: 98px;
}

.button__separator-complex {
  width: 1px;
  height: 37px;
  box-shadow: -1.3px 4.8px 23.8px 1.3px rgba(189, 227, 239, 0.75);
  background-color: #e0e0e0;
  margin: auto 0;
}

.button__text{
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 60px;
  letter-spacing: normal;
  text-align: center;
  color: #151515;
}

.button__text_complex {
  line-height: 60px;
  margin: 0;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #151515;
  text-transform: capitalize;
}

