.cellar {
  height: 65px;
  background-color: #f6f5f7
}

.cellar_position {
  margin-top: 50px;
}

.cellar__text {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 65px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #777777;
}